@media (min-width: 1440px) {
    .container {
        width: 1280px;
    }    
}
@media (max-width: 1060px) {
    body {
        overflow-x: hidden;
    }
    .header-text__red-opacity,
    .header-text__red,
    .header-text__black {
        font-size: 12px;
    }
    .header-date__numeric {
        width: 50px;
        font-size: 22px;
    }
    .header-date__item-month,
    .header-date__item-date {
        font-size: 14px;
    }
    .main-content__title {
        font-size: 30px;
    }
    .main-content__decriotions {
        font-size: 16px;
    }
    .services-first__img {
        width: 300px;
    }
    .services-second__img {
        width: 360px;
    }
    .services-first__item {
        padding: 106px 0 140px 0;
    }
    .services-second__item {
        padding: 0 0 120px 0;
    }
    .form {
        width: 50%;
    }
    .form-btn {
        margin-bottom: 20px;
        font-size: 14px;
    }
}
@media (max-width: 890px) {
    .logo {
        width: 56;
        height: 40px;
    }
    .header-text__red-opacity,
    .header-text__red,
    .header-text__black {
        letter-spacing: 8px;
    }
    .header-date__item-month,
    .header-date__item-date {
        font-size: 12px;
    }
    .main-content__title {
        font-size: 24px;
        padding-top: 60px;
    }
    .main-content__decriotions {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .main-content__bg {
        font-size: 180px;
        line-height: 1;
    }
    .main-content__btn {
        font-size: 16px;
    }
    .services-title {
        font-size: 30px;
    }
    .services-bg {
        top: 40px;
        font-size: 140px;
    }
    .services-first__img {
        width: 240px;
    }
    .services-second__img {
        width: 280px;
        margin-top: 80px;
    }
    .services-first__item {
        padding: 60px 0 100px 0;
    }
    .services-second__item {
        padding: 0 0 60px 0;
    }
    .info-title {
        font-size: 30px;
    }
    .info-list__title {
        font-size: 14px;
    }
    .price-title {
        font-size: 30px;
    }
    .price-list__item {
        width: 48%;
    }
    .price-list__text {
        font-size: 16px;
    }
    .price-list__img {
        width: 60%;
        z-index: 2;
    }
    .form-title {
        font-size: 16px;
    }
    .teach-title {
        font-size: 30px;
    }
    .teach-list__item {
        font-size: 14px;
    }
    .ok-svg,
    .info-list-svg,
    .price-list-svg,
    .services-second__img-svg,
    .services-first__img-svg,
    .main-svg  {
        display: none;
    }
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .header-text__red-opacity,
    .header-text__red,
    .header-text__black {
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;
        white-space: nowrap;
        padding: 2px;
    }
    .header-date {
        flex-direction: column;
        justify-content: center;
    }
    .header-date__numeric {
        font-size: 20px;
        margin-right: 0;
    }
    .header-date__item {
        width: 80px;
    }
    .header-date__item-month,
    .header-date__item-date {
        text-align: center;
        font-size: 10px;
        line-height: 1;
    }
    .main {
        flex-direction: column-reverse;
    }
    .main-content {
        width: 100%;
    }
    .main-img {
        width: 50%;
        margin: 0 auto;
    } 
    .main-content__title {
        text-align: center;
        font-size: 20px;
        padding-top: 40px;
    }
    .main-content__decriotions {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .main-content__bg {
        font-size: 140px;
        left: 50%;
        transform: translateX(-50%); 
    }
    .main-content__btn {
        margin: 0 auto;
    }
    .services  {
        margin-bottom: 80px;
    }
    .services-decriptions {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .services-first__img,
    .services-second__img {
        position: static;
        width: 50%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 30px;
    }   
    .services-first,
    .services-second {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .services-second__item {
        margin-bottom: 60px;
    }
    .services-first__item,
    .services-second__item {
        padding: 0;
        width: 100%;
    }
    .services-second__title,
    .services-first__title,
    .services-second__decriptions,
    .services-first__decriptions {
        text-align: center;
    }
    .info {
        margin-bottom: 40px;
    }
    .info-title {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .info-descriptions {
        flex-direction: column;
        justify-content: center;
    }
    .info-list {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .info-descriptions__date {
        width: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .info-date__item-date {
        font-size: 16px;
    }
    .price-title {
        font-size: 24px;
    }
    .price-list {
        flex-direction: column;
    }
    .price-list__item {
        width: 80%;
        margin: 0 auto;
    }
    .price-list__text {
        font-size: 14px;
        padding-bottom: 40px;
    }
    .price-list__text::before {
        width: 70px;
        height: 20px;
        top: 70%;
        transform: rotate(150deg);
    }
    .form {
        width: 100%;
    }
    .teach {
        margin-bottom: 40px;
    }
    .teach-list {
        flex-direction: column;
    }
    .teach-list__img {
        width: 50%;
    }
    .teach-list__descriptions {
        width: 90%;
    }
    .footer-link {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-link__item {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .footer-text {
        font-size: 12px;
        margin-bottom: 40px;
    }
    .info-list-svg,
    .price-list-svg,
    .services-second__img-svg,
    .services-first__img-svg,
    .main-svg {
        width: 80%;
        height: 300px;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.08;
    }
    .services-first__img-svg {
        left: 0;
        transform: translateX(-50%);
        transform: rotate(60deg);
    }
    .header-opacity__second {
        opacity: 0.1;
    }
    .header-opacity__first {
        opacity: 0.3;
    }
    .header-ok-text {
        font-size: 12px;
    }
    .main-ok-title {
        font-size: 24px;
    }
    .ok-content {
        flex-direction: column;
        justify-content: center;
    } 
    .ok-content-video {
        width: 100%;
    }
    .ok-content-video__title {
        text-align: center;
        font-size: 20px;
    }
    .ok-content-descriptions {
        width: 100%;
    }
    .ok-content-descriptions h3 {
        text-align: center;
    }
    .ok-content-list__title {
        text-align: center;
        font-size: 26px;
    }
    .ok-content-list__text {
        text-align: center;
    }
    .ok-content-list__btn {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: auto;
        font-size: 12px;
        padding: 8px 0;
        background-size: cover;
        margin-bottom: 20px;
    }
    .list-contakt {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .list-contakt__item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .list-contakt__btn {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: auto;
        font-size: 12px;
        padding: 6px 0;
        background-size: cover;
        margin-bottom: 60px;
    }
    .list-contakt__btn span {
        font-weight: 500;
    }
    .error-main__title {
        font-size: 28px;
    } 
    .error-main__text {
        font-size: 16px;
        padding: 20px 10px 20px 10px;
    }
    .error-number__title {
        padding-bottom: 40px;
    }
    .error-number-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .error-number-list__item {
        padding-right: 40px;
    }
    .error-main-svo {
        font-size: 140px;
    }

}